.gallery-container{

 
}

.slider-image {
    width: 300px;          /* Fill the container */
    height: 300px    ;    /* Fill the container */
    object-fit: fill;  /* Avoid stretching */
  }
  
  /* Ensure swiper slides are consistent in size */
  .swiper-slide {
    width: 20px;
 
  }
  .swiper-slide:first-child {
    border-left-radius: 10px; /* Rounded left border */
  }
  
  /* Right image with rounded right border */
  .swiper-slide:last-child {
    border-right-radius: 10px; /* Rounded right border */
  }
  
  /* Middle image with no border radius */
  .swiper-slide:nth-child(2) {
    border: none; /* No border for middle slide */
  }
  /* Optionally add padding to the swiper container */
  .swiper-container {
    padding: 0;
    margin: 0;
  }