.chatlist-container{
    padding: 4rem;
    h2{
        font-size: 4rem;
    }

    li{

    }

    ul {
        font-size: 2rem;
        list-style: none;
        margin-bottom: 2rem;
        margin: 0;
      }
}