@use '../styles/mixins' as mixins;

  
 
.login-container {
  width: 50%;
  display: flex;
  gap: 8rem;
  flex-direction: column;
  background-color: rgb(241, 240, 240);
  padding: 6rem 20rem 6rem 20rem;
  
}

.brand-div{
  font-size: 4rem;
  font-weight: bold;
  color: rgb(33, 8, 154);

}

.brand-img-wrapper{
  width: 260px;
  height: 80px;


  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.login-image-container {

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;
}

.login-image {
 
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
  