@use "../../styles/variables" as *;

.header {
 
  position: sticky;
  top: 0;
  z-index: 10; // Ensure it stays above other elements
  width: 100%;
 
  border-bottom: 2px solid #ddd; // Minimalist border
  background: #fff; // Clean white background
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); // Subtle shadow
  
}

.brand {
   
   display: flex;
   gap: 1rem;
   align-items: center;
}img {
  height: 40px; // Adjusted for a minimal look
  object-fit: contain;
}

.user-actions {
  display: flex;
  gap: 15px; // Spacing between actions
  align-items: center;
}