.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px; // Limits width for better UX
  padding: 1rem 1rem;
  border: 2px solid #ccc; 
  border-radius: 6rem; 
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  &:focus-within {
    border-color: #007bff; // Highlight on focus
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 8px;
    background: transparent;
    color: #333;

    &::placeholder {
      color: #aaa;
    }
  }

  .search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: color 0.3s ease-in-out;

    svg {
      color: #aaa;
      transition: color 0.3s ease-in-out;
    }

    &:hover svg {
      color: #007bff;
    }
  }
}