.custom-toast-container {
    .Toastify__toast {
      font-size: 2rem; /* Make the toast text bigger */
      padding: 2rem;
      min-width: 320px; /* Increase width */
      border-radius: 12px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }
  
  }